# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra

*.html
*.pdf
*.doc*



*.deps
*.dat
*.natvis


# Libs

/lib/glm/doc
/lib/glm/test
/lib/glm/util
/lib/glm/CMakeLists.txt
/lib/glm/CTestConfig.cmake
/lib/glm/copying.txt
/lib/glm/readme.txt
